.quote {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-left {
  padding: 32px;
  border: 1px solid #dbdbde;
  border-radius: 16px;
  height: 270px;
  width: 55%;
  margin-right: 40px;
}
.quote-text {
  font-size: 28px;
  line-height: 43px;
}
.quoter {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.quoter-avt {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.quoter-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}
.quoter-job {
  margin-left: 0.5ch;
  font-size: 20px;
  line-height: 27px;
  color: #6e6d7a;
}
.quote-right {
  width: 270px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(57.89deg, #ff869d 21.85%, #fcd0ba 94.99%), #e54b4d;
  color: #fff;
}

.quote-right-icon {
  transition: transform 0.2s ease-in-out;
}

.quote-right:hover .quote-right-icon {
  transform: scale(1.1, 1.1) rotate(5deg);
}

/* * WHY */
.why {
  margin: 150px 80.5px;
  padding: 0 32px;
}
.why-heading {
  font-size: 6.4rem;
  line-height: 72px;
  text-align: center;
  margin: 0 155px;
}
.why-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 88px;
  font-family: Helvetica, sans-serif;
}
.why-body-left {
  width: 38%;

  height: 527px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.why-lefts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 153px;
}
.why-sub-heading {
  height: 31px;
  padding: 0 3px;
  background-color: #e6fbfe;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  display: inline-flex;
  width: max-content;
  align-items: center;
}

.why-sub-heading.-purple {
  background-color: #e3ebfd;
}

.why-sub-heading.-pink {
  background-color: #edddfb;
}
.why-sub-paragraph {
  line-height: 28px;
}
.why-body-right {
  width: 52%;
}

.why-right-img {
  border-radius: 48px;
  width: 100%;
  height: auto;
}
