* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
}

/* ! KHAI BAO BIEN */
:root {
  --number_slogan_img: 12;
}

/* * HEADER */

.header {
  height: 100px;
  padding: 0 40px;
  background-color: #f8f7f4;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  font-family: Helvetica, sans-serif;
  color: #060318;
  padding: 0 16px;
  font-weight: 500;
  transition: opacity 0.3s ease-in-out;
}
.header a:hover,
.start-slogan:hover,
.match-btn:hover,
.call-btn:hover {
  opacity: 0.7;
  transition-delay: 0.2s;
}

.navbar {
  width: 600.5px;
}
.navbar > li:first-child {
  margin-left: -16px;
}
.logo {
  font-size: 1.6rem;
  transition: opacity 0.3s ease-in-out;

  cursor: pointer;
}
.logo:hover {
  opacity: 0.7;
  transition-delay: 0.2s;
}

.login {
  width: 600.5px;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login > a {
  display: flex;
  align-items: center;
}
.login .login-btn {
  padding: 0;
}
.login-btn > div {
  width: 4px;
  height: 4px;
  margin-left: 24px;
  border-radius: 50%;
  background-color: #060318;
}
.login .signup-btn {
  margin-left: 24px;
  padding: 0 24px;
  background-color: #fff;
  height: 48px;
  border-radius: 9999px;
  font-weight: 600;
  border: 1.5px solid transparent;
}
.login .hire-btn {
  margin-left: 16px;
  padding: 0 24px;
  background-color: #0d0c22;
  color: #fff;
  height: 48px;
  border-radius: 9999px;
  font-weight: 600;
  border: 1.5px solid transparent;
}

/* * HIRING */
.hiring {
  font-family: Helvetica, sans-serif;
  background: linear-gradient(180deg, #f8f7f4, #fff);
  padding-top: 80px;
}
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@keyframes colorAnimation {
  0% {
    background-color: #ffda79;
  }
  20% {
    background-color: #d1e1db;
  }
  40% {
    background-color: #f5c3b6;
  }
  60% {
    background-color: #edb2e5;
  }
  80% {
    background-color: #cfbeef;
  }
  100% {
    background-color: #ffda79;
  }
}
.top-slogan {
  height: 40px;
  padding: 10px 16px;
  font-weight: 500;
  border-radius: 9999px;
  font-size: 1.6rem;
  animation: colorAnimation 10s infinite;
}
.main-slogan {
  max-width: 800px;
  font-size: 7.2rem;
  line-height: 76px;
  margin: 40px auto 24px;
  text-align: center;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.sub-slogan {
  height: 36px;
  line-height: 36px;
  font-size: 2rem;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}
.start-slogan {
  border-radius: 9999px;
  background-color: #060318;
  font-family: Helvetica, sans-serif;
  color: #fff;
  height: 56px;
  line-height: 56px;
  margin-top: 32px;
  padding: 0 24px;
  transition: opacity 0.3s ease-in-out;
}

/* * HANG NGANG CAC HINH ANH */

@keyframes move {
  0% {
    left: 0;
  }
  100% {
    left: -150vw;
  }
}

.adv-imgs {
  height: 484px;
  padding: 72px 0;
  display: grid;
  grid-template-columns: repeat(20, auto);
  gap: 30px;
  overflow: hidden;
}

.adv-img {
  height: 340px;
  width: 273px;
  padding: 16px 20px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  position: relative;

  animation: move 30s linear infinite;
}
.slogan-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 273px;
  height: 340px;
  object-fit: cover;
  border-radius: 30px;
}
.name {
  position: absolute;
  bottom: calc(16px + 32px + 16px + 10px);
  font-size: 1.4rem;
}
.job {
  position: absolute;
  bottom: calc(16px + 32px + 5px);
  font-size: 1.4rem;
}
.jd {
  position: absolute;
  bottom: 16px;
  display: flex;
}

.dt {
  font-size: 1rem;
  margin-right: 10px;
  border-radius: 1000px;
  border: 0.5px solid #fff;
  padding: 8px;
}

/* * INTRO */
.intro {
  margin: 0 80px;
  padding: 0 32px;
}

.intro-logos {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
}

.intro-logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.intro-content {
  height: 600px;
  padding: 150px 0;
  display: flex;
  font-family: Helvetica, sans-serif;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.intro-heading {
  max-width: 530px;
  font-size: 9rem;
  font-weight: 300;
}

.intro-main {
  padding-top: 26px;
  max-width: 570px;
  font-size: 2rem;
}
.intro-main-text {
  line-height: 36px;
}
.intro-main-btn {
  display: inline-block;
  border-radius: 9999px;
  background-color: #060318;
  color: #fff;
  height: 56px;
  line-height: 56px;
  padding: 0 24px;
  margin-top: 30px;
  font-size: 1.4rem;
}

/* * CONNECTING */

.connecting {
  min-height: 500px;
  margin: 0 80px;
  padding: 0 32px;
}

.connect-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  margin: 0 109px;
}
.connect-btn {
  background-color: #ffda79;
  margin-top: 32px;
  border-radius: 9999px;
  height: 40px;
  padding: 10px 16px;
}
.connect-title {
  margin: 32px auto 24px;
  font-size: 6.4rem;
  text-align: center;
  line-height: 72px;
  padding: 0 36px;
  font-weight: 500;
}
.connect-paragraph {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  line-height: 36px;
  font-weight: 300;
}

.perfect-math {
  min-height: 500px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  padding-bottom: 150px;
  font-family: Helvetica, sans-serif;
}
.match-left {
  width: 50%;
  padding-right: 36px;
  font-weight: 300;
}

.left-heding {
  font-size: 4.8rem;
}
.left-body {
  margin: 24px auto 32px;
  line-height: 28px;
}
.left-foot {
  height: 56px;
  display: flex;
}
.match-btn {
  height: 100%;
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 0 24px;
  border-radius: 9999px;
  font-weight: 600;
  color: #060318;
  border: 1.5px solid #ccc;
}

.match-btn.find-btn {
  background-color: #060318;
  color: #fff;
  margin-right: 15px;
  border-color: transparent;
}

.match-right {
  width: 50%;
  position: relative;
}

.match-image {
  height: 100%;
  width: 100%;
}

.match-card {
  position: absolute;
  bottom: -80px;
  right: 0;
  background-color: #fff;
  width: 252px;
  height: 252px;
  border-radius: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 14px 30px rgba(0, 0, 0, 0.05);
  gap: 24px;
}

.card-top {
  display: flex;
  align-items: center;
}
.card-top-avt {
  border-radius: 50%;
  margin-right: 15px;
}

.card-top-name {
  font-size: 1.8rem;
  margin-bottom: 8px;
  font-weight: 500;
}
.card-top-job {
  height: 20px;
  padding: 0 5px;
  font-size: 13px;
  background-color: #ddfde8;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.card-center-heading {
  font-size: 13px;
  margin-bottom: 8px;
  font-weight: 500;
}
.card-center-skills {
  display: flex;
  flex-flow: row wrap;
}
.card-center-skill {
  height: 25px;
  margin: 0 8px 8px 0;
  padding: 0 12px;
  font-size: 11px;
  display: flex;
  align-items: center;
  height: 20px;
  margin: 0 7px 7px 0;
  padding: 0 10px;
  border: 1px solid #eeeef0;
  border-radius: 99999px;
  font-weight: 500;
}

.card-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-bot-salary {
  font-weight: 600;
}

/* * BETTER */
.better {
  margin: 0 80.5px 150px;
  padding: 0 32px;
  font-family: Helvetica, sans-serif;
}

.better-heding {
  margin-bottom: 80px;
  font-size: 4.8rem;
  width: 50%;
  font-weight: 300;
}

.beter-subheadings {
  margin-bottom: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.better-subheading {
  width: 30%;
}
.better-subheading-title {
  font-size: 2rem;
  margin-bottom: 17px;
  font-weight: 600;
}
.better-subheading-paragraph {
  line-height: 28px;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-left {
  padding: 32px;
  border: 1px solid #dbdbde;
  border-radius: 16px;
  height: 270px;
  width: 55%;
  margin-right: 40px;
}
.quote-text {
  font-size: 28px;
  line-height: 43px;
}
.quoter {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.quoter-avt {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.quoter-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}
.quoter-job {
  margin-left: 0.5ch;
  font-size: 20px;
  line-height: 27px;
  color: #6e6d7a;
}
.quote-right {
  width: 270px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(57.89deg, #ff869d 21.85%, #fcd0ba 94.99%), #e54b4d;
  color: #fff;
}

.quote-right-icon {
  transition: transform 0.2s ease-in-out;
}

.quote-right:hover .quote-right-icon {
  transform: scale(1.1, 1.1) rotate(5deg);
}

/* * WHY */
.why {
  margin: 150px 80.5px;
  padding: 0 32px;
}
.why-heading {
  font-size: 6.4rem;
  line-height: 72px;
  text-align: center;
  margin: 0 155px;
}
.why-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 88px;
  font-family: Helvetica, sans-serif;
}
.why-body-left {
  width: 38%;

  height: 527px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.why-lefts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 153px;
}
.why-sub-heading {
  height: 31px;
  padding: 0 3px;
  background-color: #e6fbfe;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  display: inline-flex;
  width: max-content;
  align-items: center;
}

.why-sub-heading.-purple {
  background-color: #e3ebfd;
}

.why-sub-heading.-pink {
  background-color: #edddfb;
}
.why-sub-paragraph {
  line-height: 28px;
}
.why-body-right {
  width: 52%;
}

.why-right-img {
  border-radius: 48px;
  width: 100%;
  height: auto;
}

/* * QUALITY */

.quality {
  min-height: 300px;
  margin: 150px 0;
}
.quality-heading {
  padding: 0 32px;
  margin: 0 80.5px;
  font-size: 48px;
  line-height: 56px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 50px;
}

.quality-img-top {
  display: grid;
  grid-template-columns: repeat(5, auto);
  overflow: hidden;
  gap: 24px;
  margin-bottom: 24px;
  justify-content: center;
}
.quality-img-bot {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  overflow: hidden;
  gap: 24px;
}

.quanlity-img {
  width: 360px;
  height: 270px;
  border-radius: 10px;
  background-color: #edb2e5;
}

.quanlity-img > img,
.quanlity-img > video {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/* * CALLOUT */
.callout {
  margin: 0 80.5px 150px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
}
.call-left {
  width: 580px;
  height: 480px;
  padding: 56px;
  border-radius: 48px;
  background-color: #f8f7f4;
}

.call-title {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  min-height: 40px;
  padding: 10px 16px;
  border-radius: 9999999px;
  background-color: #c2f9e4;
  color: #3d3d4e;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 1;
  font-family: Times, serif;
}
.call-title.-pink {
  background-color: #f3b0e4;
}

.call-heading {
  font-size: 4.8rem;
  margin-top: 32px;
  line-height: 56px;
  font-weight: 300;
}
.call-sub-heading {
  font-size: 2rem;
  margin-top: 24px;
  line-height: 36px;
  font-weight: 300;
}
.call-foot {
  height: 56px;
  margin-top: 32px;
  display: flex;
  align-items: center;
}
.call-btn {
  font-size: 1.4rem;
  border-radius: 9999px;
  margin-right: 30px;
  padding: 0 24px;
  background-color: #fff;
  color: #060318;
  display: inline-flex;
  height: 100%;
  align-items: center;
  font-weight: 600;
}

.call-btn.black-btn {
  background-color: #060318;
  color: #fff;
}

.call-right {
  width: 580px;
  height: 480px;
  padding: 56px;
  border-radius: 48px;
  background-color: #f8f7f4;
}

/* * FOOTER */
.footer {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
  background-color: #f9da87;
  height: 552px;
}

.footer-heading {
  font-size: 6.4rem;
  line-height: 72px;
  font-family: Times, serif;
}
.footer-paragraph {
  font-size: 2rem;
  line-height: 36px;
  font-weight: 300;
}
.footer-btns {
  height: 56px;
  display: flex;
  align-items: center;
}
.footer-btn {
  font-size: 1.4rem;
  border-radius: 9999px;
  margin-right: 30px;
  padding: 0 24px;
  background-color: #fff;
  color: #060318;
  display: inline-flex;
  height: 100%;
  align-items: center;
  font-weight: 600;
  margin-right: 30px;
}

.footer-btn.black-btn {
  background-color: #060318;
  color: #fff;
}
.footer-contact {
  font-size: 2rem;
  line-height: 36px;
  font-weight: 300;
}
.footer-contact > a {
  text-decoration: underline;
  color: #060318;
}

/* * FOOTER-V2 */
.footer-v2 {
  height: 254px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  overflow-x: hidden;
}
@keyframes move-2 {
  0% {
    left: 100vw;
  }
  100% {
    left: -100vw;
  }
}
.footer-item {
  position: relative;
  width: 200px;
  margin: 0 20px;
  cursor: pointer;
  animation: move-2 60s linear infinite;
}

.shadow {
  width: 195px;
  height: 150px;
  position: absolute;
  border: 2px solid #fff;
  opacity: 50%;
}
.footer-item:hover .shadow-1 {
  transition: all 0.3s ease-in-out;
  transform: scale(1.02, 1.02);
  transform-origin: bottom left;
  border-radius: 8px;
}
.footer-item:hover .shadow-2 {
  transition: all 0.2s ease-in-out;
  transform: scale(1.03, 1.03);
  transform-origin: bottom left;
  border-radius: 8px;
}
.shadow.shadow-1 {
  border-radius: 10px;
  top: -5px;
  left: 10px;
  z-index: 2;
}
.shadow.shadow-2 {
  border-radius: 12px;
  width: 190px;
  top: -10px;
  left: 20px;
  z-index: 1;
}

.print-1 {
  background-color: rgb(230, 251, 254);
}
.print-2 {
  background-color: rgb(221, 253, 232);
}
.illus-1 {
  background-color: #e6fbfe;
}
.illus-2 {
  background-color: #edf3d8;
}
.anima-1 {
  background-color: #f6d9fb;
}
.anima-2 {
  background-color: #e3ebfd;
}
.prod-1 {
  background-color: #edddfb;
}
.prod-2 {
  background-color: #ddfde8;
}
.bran-1 {
  background-color: #e6fdc9;
}
.bran-2 {
  background-color: #edf3d8;
}
.typo-1 {
  background-color: #ddfde8;
}
.typo-2 {
  background-color: #edf3d8;
}
.web-1 {
  background-color: #edf3d8;
}
.web-2 {
  background-color: #edddfb;
}
.mobi-1 {
  background-color: #e3ebfd;
}
.mobi-2 {
  background-color: #edf3d8;
}
.footer-v2-img {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 200px;
  height: 150px;
  border-radius: 8px;
  border: 2px solid #fff;
}
.footer-item > p {
  font-size: 1.4rem;
  font-family: Helvetica, sans-serif;
  position: absolute;
  bottom: 0;
}

/* *FOOTER-V3 */
.footer-v3 {
  margin: 0 80.5px;
  padding: 0 32px;
}
.footer-v3-top {
  padding: 72px 0 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-v3-top > svg {
  font-size: 1.6rem;
  height: 30px;
  width: 104px;
}

.footer-v3-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 820px;
}
.footer-v3-links > a {
  font-family: Helvetica, sans-serif;
  color: #060318;
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 600;
  width: fit-content;
}

.footer-v3-socials {
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-v3-socials > svg {
  height: 18px;
  width: 18px;
}
.footer-v3-bot {
  font-family: Helvetica, sans-serif;
  padding: 44px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bot-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.footer-v3-bot a {
  display: inline-flex;
  align-items: center;
  color: #666;
  font-size: 1.4rem;
  font-weight: 300;
}

.footer-bot-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
