* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

footer {
  height: 150px;
}

main {
  min-height: 400px;
}

main > section:first-child {
  background: linear-gradient(180deg, #f8f7f4, #fff);
  padding-top: 50px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search h1 {
  width: 55%;
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 78px;
  text-align: center;
  margin-bottom: 30px;
}
.search p {
  width: 46%;
  text-align: center;
  font-family: sans-serif;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 50px;
}
.search-text {
  width: 600px;
  height: 58px;
  margin-bottom: 40px;
  position: relative;
}
.search-text input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 9999px;
  padding: 28px 45px 28px 55px;
  font-size: 1.4rem;
  color: #333;
}
input::placeholder {
  color: #999;
}
input:hover {
  box-shadow: 0 0 0 4px rgba(234, 100, 217, 0.1);
}
input:focus {
  border-color: rgba(234, 100, 217, 0.4);
}

.search-text svg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
}
.trending {
  display: flex;
  margin-bottom: 100px;
}
.trending > p {
  font-size: 1.2rem;
  margin: 0 10px;
  line-height: 36.5px;
  font-weight: 500;
}

.trending ul {
  display: flex;
  gap: 10px;
}
.trending li {
  list-style: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 9999px;
}
.trending li:hover {
  border-color: #999;
}
.trending a {
  display: inline-flex;
  text-wrap: nowrap;
  text-decoration: none;
  color: #666;
}

/* * CONTENT */
.filter {
  padding: 32px 72px 0;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

.popular {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 0 18px;
  height: 40px;
  width: 120px;
  position: relative;
  cursor: pointer;
}
.popular span {
  line-height: 40px;
  margin-right: 6px;
}

.popular svg {
  width: 10px;
  height: 10px;
  transition: transform 0.2s linear;
}

.popular ul {
  list-style: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  position: absolute;
  left: 0;
  box-shadow: 0 0 20px rgba(204, 204, 204, 20%);
  border: none;
  margin-top: 10px;
  display: none;
  z-index: 2;
}

.popular li {
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: all;
}
.popular li.on-selected {
  background-color: #f3f3f4;
}
.popular li.on-selected::after {
  content: "✓";
  float: right;
}

.popular li:hover {
  background-color: #f9f9f9;
}

.filter-btn {
  border-radius: 9999px;
  border: 1px solid #ccc;
  padding: 0 18px;
  height: 40px;
  width: 100px;
  position: relative;
  cursor: pointer;
}

.filter-btn span {
  font-size: 1.4rem;
  line-height: 40px;
  margin-left: 6px;
}

.filter-item {
  display: none;
  z-index: 1;
  gap: 32px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 72px;
  margin-top: 70px;
}

.filter-search {
  flex: 1;
  height: 86px;
  position: relative;
}
.filter-search svg {
  height: 16px;
  position: absolute;
  bottom: 28px;
  transform: translateY(50%);
  left: 15px;
  z-index: 1;
}

.filter-search input,
.timeframe {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  padding: 18px 20px 18px 44px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.timeframe {
  cursor: pointer;
  padding: 20px 35px 20px 20px;
  z-index: 3;
}

.timeframe > svg {
  position: absolute;
  left: calc(100% - 35px - 16px);
  height: 16px;
  bottom: 28px;
  transform: translateY(50%);
  z-index: 4;
  transition: transform 0.2s linear;
}

.timeframe ul {
  display: none;
  list-style: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  box-shadow: 0 0 20px rgba(204, 204, 204, 20%);
  border: none;
  margin-top: 20px;
  z-index: 4;
}

.timeframe li {
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.timeframe li.on-selected {
  background-color: #f3f3f4;
}
.timeframe li.on-selected::after {
  content: "✓";
  float: right;
}

.timeframe li:hover {
  background-color: #f9f9f9;
}
.search-color:focus + .color-chips {
  opacity: 1;
  pointer-events: all;
}

.color-chips {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% + 2px));
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}
.color-chips li {
  height: 15px;
  width: 25px;
}
.color-chips a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.color-chips a:hover {
  transform: scale(1.2);
}

.hastag {
  flex: 1;
  overflow: hidden;
  position: relative;
}
.hastag ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* gap: 30px; */
  list-style-type: none;
}

.hastag a {
  text-decoration: none;
  color: #333;
  line-height: 40px;
  font-weight: 600;
  text-wrap: nowrap;
  font-size: 1.4rem;
}
.hastag a:hover {
  color: #999;
}

/* * CONTENT */
.content {
  padding: 0 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 50px;
  min-height: 500px;
}

.content-item {
  height: 250px;
  width: 23%;
  margin-top: 42px;
}

.content-item .img {
  border-radius: 8px;
  height: 222px;
  position: relative;
  padding: 20px;
}
.content-item .img img,
video {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
}

.content-item .img .info {
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: none;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.content-item .img .info > p {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: 60%;
  color: #fff;
  font-family: sans-serif;
}
.content-item .img .info > p:not(:only-child)::after {
  content: "...";
}

.content-item .img .info > div {
  display: flex;
  gap: 10px;
}

.content-item .img .info > div > div {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #333;
}

.content-item .img .info > div > div:hover {
  color: #999;
}
.content-item .img:hover .info {
  display: flex;
}

.content-item .img:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 8px;

  background: linear-gradient(
    0deg,
    hsla(0, 0%, 20%, 0.5) 0%,
    hsla(0, 0%, 20%, 0.5) 18%,
    hsla(0, 0%, 100%, 0) 32%
  );
}
.author {
  display: flex;
  justify-content: space-between;
  height: 24px;
  font-family: sans-serif;
  margin-top: 10px;
}
.author > div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.author img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.author .name {
  font-size: 1.4rem;
  cursor: pointer;
}

.author .tag {
  background-color: #ccc;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  font-size: 1rem;
  padding: 3px;
  cursor: pointer;
}
.author .tag:hover {
  background-color: rgba(0, 0, 0, 80%);
}

.author .tym,
.like {
  font-size: 1.2rem;
  color: #666;
  display: flex;
  align-items: center;
  gap: 4px;
}

.author .tym > svg:hover {
  color: #da6cd4;
}

.author > div > a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #ccc;
  line-height: 24px;
}

.signup {
  display: flex;
  justify-content: center;
}
button {
  color: #333;
  background-color: #fff;
  border-radius: 9999px;
  margin: 10px 0 26px;
  cursor: pointer;
  font-size: 1.4rem;
  border: none;
  padding: 0 60px;
}
button.special {
  padding: 10px 20px;
  font-weight: 700;

  background-color: #050317;
  color: #fff;
  border: 1px solid #333;
  font-size: 1.3rem;
}
