* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.login {
  height: 100vh;
  display: flex;
  position: relative;
}
.video {
  position: relative;
}
.video svg {
  width: 90px;
  height: 30px;
  position: absolute;
  top: 45px;
  left: 35px;
  color: #fff;
  z-index: 3;
}
.video video {
  width: 400px;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}
.video p a {
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: 45px;
  left: 35px;
  font-family: sans-serif;
  text-decoration: none;
}
form {
  top: 70px;
  width: 560px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 500px;
  padding: 30px 60px 0px 60px;
  font-family: sans-serif;
}
form > h1 {
  font-size: 24px;
  margin-bottom: 40px;
}
form > button {
  width: 416px;
  height: 56px;
  border-radius: 1e7px;
  border: 1.5px solid rgb(231, 231, 233);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  font-weight: 600;
  transition: all 0.2s linear;
  cursor: pointer;
}

form > button > svg {
  height: 16px;
  width: 16px;
}
form > button:first-of-type {
  color: #fff;
  background-color: #0d0c22;
}
form > button:first-of-type:hover {
  border-color: #ccc;
}

form > button:last-of-type {
  margin: 65px 0 20px;
}
form > p:first-of-type {
  position: relative;
  margin-top: 22px;
}
form > p:first-of-type > span:first-child {
  font-size: 14px;
  color: #999;
  padding: 0 16px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
form > p:first-of-type > span:last-child {
  width: 416px;
  display: block;
  background-color: #999;
  height: 0.2px;
  position: absolute;
  bottom: -10px;
}

form > p:not(:first-of-type) {
  text-align: center;
  width: 416px;
  color: #0d0c22;
  font-weight: 300;
  font-size: 14px;
}
form > p:not(:first-of-type) > a {
  color: #0d0c22;
  font-weight: 400;
  line-height: 1.5;
}

form > p:nth-last-of-type(2) {
  font-size: 12px;
  margin: 60px 0 20px;
}
